@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Pacifico&family=Paytone+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Paytone+One&display=swap');


html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Paytone One', sans-serif;


}
/* Header */

input:hover, input:active, input:focus, Button:hover, Button:active, Button:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
Input {
  caret-color: #536bf6;
}

Button {
  height: 34px;
  width: 34px;
  background-color: #536bf6 !important;
}

/* gallery */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
}
.user-img {
  width: 10% ;
}